.article
  -unless defined? no_title
    %h3
      =link_to_unless_current(announcement.title,[announcement.lecture,announcement])
  =format_post(announcement.body)

  .item-menu
    %b.comment-count
      by
      =announcement.user.name
    %b.comment-count#comment-count
      =pluralize announcement.comments.length, "Comment"
    .item-actions
    =clear

