<li>
<%=link_to truncate(lecture.name,:length=>55)+"("+lecture.downloads.length.to_s+")", lecture_path(lecture)%> 
<%=edit_link(lecture,edit_lecture_path(lecture))%>
<%=destroy_link(lecture,lecture_path(lecture))%>
</li>
