-title("Edit Lecture")

=boxed "Edit Lecture" do
  =render :partial=>'form'

=boxed "Edit Groups",:new=>"groups",:new_path=>new_lecture_group_path(@lecture) do
  %li
    %table
      %tr
        %th Name
        %th Timer
        %th
      -@lecture.groups.each do |g|
        %tr
          %td
            =g.name
          %td
            =g.timers.size
          %td
            =link_to "Add Timer",new_lecture_group_timer_path(@lecture,g)
            =edit_link(g,edit_lecture_group_path(@lecture,g))
