-title(@lecture.name)

=boxed @lecture.name do
  %li
    =@lecture.semester.to_s + ". Semester"

  -unless (@lecture.tuglink.blank? && @lecture.unilink.blank? )
    %li
      =link_to("TUGRAZonline",@lecture.tuglink) unless @lecture.tuglink.blank?
      ="/" unless (@lecture.tuglink.blank? || @lecture.unilink.blank?)
      =link_to("UNIGRAZonline",@lecture.unilink) unless @lecture.unilink.blank?

  -unless @lecture.description.blank?
    %li
      =simple_format(auto_link(@lecture.description))

  -unless current_user.groups.where(['groups.lecture_id=?',@lecture.id]).empty?
    %li
      ="Your Group:"+current_user.groups.where(['groups.lecture_id=?',@lecture.id]).first.name

  %li
    Change Group:
    -@groups.each do |g|
      =link_to(g.name,apply_path(g),:method=>:post)

-if  permitted_to?(:read,:links)
  =boxed "Links",:new_path=>new_lecture_link_path(@lecture),:new=>"links" do
    -@links.each do |l|
      %li
        =link_to l.name, l.url
        =edit_link(l,edit_lecture_link_path(@lecture,l))
        =destroy_link(l,lecture_link_path(@lecture,l))

-if permitted_to?(:read,:announcements)
  =boxed "Blackboard",:new=>"announcements",:new_path=>new_lecture_announcement_path(@lecture),:paginate=>@announcements do
    =render :partial=>@announcements unless @announcements.empty?

-if permitted_to?(:read,:downloads)
  =boxed "Downloads", :new_path=>new_lecture_download_path(@lecture),:new=>"downloads" do
    =render :partial=>'downloads/download',:collection=>@downloads
