/* line 1, ../../../app/stylesheets/box.sass */
.box {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background-color: #333333;
  margin: 1em 0;
  -moz-box-shadow: 0.1em 0.1em 0.4em #101010;
  -webkit-box-shadow: 0.1em 0.1em 0.4em #101010;
}
/* line 9, ../../../app/stylesheets/box.sass */
.box h2 {
  text-align: center;
}
/* line 11, ../../../app/stylesheets/box.sass */
.box .footer {
  text-align: center;
  min-height: 1em;
}
/* line 14, ../../../app/stylesheets/box.sass */
.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 18, ../../../app/stylesheets/box.sass */
.box ul li {
  padding: 0.2em;
}
/* line 20, ../../../app/stylesheets/box.sass */
.box ul li:nth-child(odd) {
  background-color: #444444;
  -moz-box-shadow: 0 0 0.4em #101010;
}
/* line 23, ../../../app/stylesheets/box.sass */
.box ul li.private {
  list-style-position: inside;
  list-style-image: url(/images/small/bullet_red.png);
}
/* line 26, ../../../app/stylesheets/box.sass */
.box ul li.public {
  list-style-position: inside;
  list-style-image: url(/images/small/bullet_green.png);
}
/* line 29, ../../../app/stylesheets/box.sass */
.box article {
  padding-top: 1em;
  margin: 0 1em 1em 1em;
}
