/* line 1, ../../../app/stylesheets/box.sass */
.box {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #444444;
  background-color: #333333;
  margin: 1em 0;
  -moz-box-shadow: 0.1em 0.1em 0.4em #101010;
  -webkit-box-shadow: 0.1em 0.1em 0.4em #101010;
}
/* line 10, ../../../app/stylesheets/box.sass */
.box h1 {
  font-size: 1.2em;
  -moz-border-radius: 0.666em 0.666em 0 0;
  -webkit-border-radius: 0.666em 0.666em 0 0;
  border-radius: 0.666em 0.666em 0 0;
  padding: 0.4em 0.8em;
  margin: 0;
}
/* line 12, ../../../app/stylesheets/box.sass */
.box h1 a, .box h1 .new-resource a {
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}
/* line 16, ../../../app/stylesheets/box.sass */
.box h1 a:hover, .box h1 .new-resource a:hover {
  text-decoration: none;
}
/* line 23, ../../../app/stylesheets/box.sass */
.box h1 .new-resource {
  float: right;
}
/* line 26, ../../../app/stylesheets/box.sass */
.box .body {
  background-color: #cccccc;
  color: black;
  padding: 1em;
}
/* line 32, ../../../app/stylesheets/box.sass */
.box .body .article {
  border-bottom: 1px dashed #444444;
}
/* line 34, ../../../app/stylesheets/box.sass */
.box .body .article h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2em;
}
/* line 41, ../../../app/stylesheets/box.sass */
.box .footer {
  text-align: center;
  min-height: 1em;
}
