/* line 1, ../../../app/stylesheets/footer.sass */
#footer {
  height: 20em;
}
/* line 3, ../../../app/stylesheets/footer.sass */
#footer .center {
  padding: 0.5em;
  border-top: 1px dashed #555555;
}
/* line 6, ../../../app/stylesheets/footer.sass */
#footer a {
  display: block;
}

/* line 9, ../../../app/stylesheets/footer.sass */
#sites, #links {
  float: left;
  padding: 1em;
}

/* line 13, ../../../app/stylesheets/footer.sass */
#footer h1 {
  font-size: 1em;
}
