/* line 1, ../../../app/stylesheets/nav.sass */
#nav {
  height: 4em;
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
  overflow: hidden;
  background: #171717;
}
/* line 7, ../../../app/stylesheets/nav.sass */
#nav h5 {
  float: left;
  font-size: 3em;
  font-weight: bolder;
  margin: 0;
  padding: 0.08em 0;
  color: #222222;
  letter-spacing: 1em;
  text-shadow: 1px 1px #222222, -1px -1px black;
}
/* line 16, ../../../app/stylesheets/nav.sass */
#nav ul {
  margin: 0.4em;
  display: block;
  float: right;
  overflow: hidden;
  font-size: 2em;
}
/* line 22, ../../../app/stylesheets/nav.sass */
#nav ul li {
  list-style: none;
  float: right;
  padding: 0 1em;
  margin: 0;
  display: block;
  float: right;
  color: #aaaaaa;
  font-weight: bold;
}
/* line 31, ../../../app/stylesheets/nav.sass */
#nav ul li a {
  text-decoration: none;
}
/* line 32, ../../../app/stylesheets/nav.sass */
#nav ul li a:hover {
  color: white;
}
