/* line 1, ../../../app/stylesheets/position.sass */
header, nav, .center {
  margin: auto;
  width: 880px;
}

/* line 5, ../../../app/stylesheets/position.sass */
header {
  background: -moz-radial-gradient(top center, ellipse farthest-side, #aaaaaa, #222222);
  height: 3em;
}
/* line 8, ../../../app/stylesheets/position.sass */
header h1 {
  text-align: center;
  margin: 0;
}

/* line 12, ../../../app/stylesheets/position.sass */
#main {
  background-color: #aaaaaa;
}
/* line 14, ../../../app/stylesheets/position.sass */
#main ul {
  float: left;
  padding: 0.5em;
  margin: 0;
}
/* line 18, ../../../app/stylesheets/position.sass */
#main ul li {
  float: right;
  margin-right: 1em;
  display: block;
}

/* line 24, ../../../app/stylesheets/position.sass */
#top {
  height: 4em;
  background: #cc33ff;
}

/* line 28, ../../../app/stylesheets/position.sass */
pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px;
}

/* line 33, ../../../app/stylesheets/position.sass */
a {
  color: #33ccff;
  text-decoration: none;
}
/* line 36, ../../../app/stylesheets/position.sass */
a:hover {
  color: #33ccff;
  text-decoration: underline;
}

/* line 40, ../../../app/stylesheets/position.sass */
.item-menu {
  color: #aaaaaa;
  margin-top: 0.2em;
}

/* line 44, ../../../app/stylesheets/position.sass */
.item-actions {
  float: right;
}

/* line 47, ../../../app/stylesheets/position.sass */
.comment-count {
  float: left;
  margin-right: 1em;
}

/* line 52, ../../../app/stylesheets/position.sass */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 55, ../../../app/stylesheets/position.sass */
#notice {
  color: green;
}

/* line 58, ../../../app/stylesheets/position.sass */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 63, ../../../app/stylesheets/position.sass */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, ../../../app/stylesheets/position.sass */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #cc0000;
  color: white;
}
/* line 79, ../../../app/stylesheets/position.sass */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 83, ../../../app/stylesheets/position.sass */
img {
  border: 0;
}

/* line 86, ../../../app/stylesheets/position.sass */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

/* line 89, ../../../app/stylesheets/position.sass */
#content {
  padding: 1em;
}
/* line 91, ../../../app/stylesheets/position.sass */
#content h2 {
  margin: 0;
  margin-bottom: 0.2em;
}

/* line 95, ../../../app/stylesheets/position.sass */
.clear {
  clear: both;
}

/* line 98, ../../../app/stylesheets/position.sass */
body {
  background-color: #222222;
  color: #eeeeee;
  margin: 0;
  font-size: 0.7em;
}

/* line 104, ../../../app/stylesheets/position.sass */
aside {
  overflow: hidden;
  float: right;
  width: 300px;
  margin-left: 1em;
}
/* line 109, ../../../app/stylesheets/position.sass */
aside input {
  width: 13.4em;
  border: 0.1em solid #222222;
  font-size: 1em;
}

/* line 114, ../../../app/stylesheets/position.sass */
.with_sidebar {
  overflow: hidden;
}

/*BEGIN: Add Edit Destroy Tags */
/* line 119, ../../../app/stylesheets/position.sass */
.action_tag {
  float: right;
  font-size: 0.8em;
  color: #aaaaaa;
  text-decoration: none;
  margin-left: 0.2em;
}

/* line 126, ../../../app/stylesheets/position.sass */
.add_tag {
  color: #ccff33;
}
/* line 128, ../../../app/stylesheets/position.sass */
.add_tag :visited {
  color: #ccff33;
}

/* line 133, ../../../app/stylesheets/position.sass */
th, td {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: white;
}

/* line 139, ../../../app/stylesheets/position.sass */
table {
  border-collapse: collapse;
  border-style: hidden;
}
