.article{:class=> permitted_to?(:download,download) ? "public" : "private"}
  -if permitted_to?(:read,download)
    =link_to download.name, lecture_download_path(download.lecture,download)
  -else
    =link_to download.name ,'#'


