=form_for(@download,:url=>{:action=>'create'} , :html => {:multipart=>true,:method=>:post}) do |f|
 =f.label :lecture
 %br
 =f.select :lecture_id, Lecture.all.map { |lecture| [lecture.name, lecture.id] }
 %br
 =f.label :name
 %br
 =f.text_field :name
 %br
 =f.label :description
 %br
 =f.text_area :description
 %br
 =f.label :document
 %br
 =f.file_field :document
 %br
 =f.label :public, "Public Download? (Available without Login)"
 %br
 =f.check_box :public
 %br
 =f.submit       
