-title(@download.name)
=boxed @download.name do
  %li
    %b Lecture:
    =link_to @lecture.name,lecture_path(@lecture)
  %li.download
    -if permitted_to?(:download,@download)
      =button_to "Download",download_download_path(@lecture,@download)
    -else
      You need to log in before you can download this file.
  %li
    =simple_format(auto_link(@download.description))
  %li
    ="by " + @download.user.name
