#nav{
  height:6em;
  font-family:'PusabRegular';
  padding:0;
  overflow:hidden;
  background: -moz-linear-gradient(top,#333,#171717)
}

.rainbow {
  background: -moz-linear-gradient(right,darkred,red ,orange 16%,yellow 32%,green 48%,blue 60%,indigo 76%,darkviolet);
  height:0.2em;
}

#nav h5 {
  float:left;
  font-size:5em;
  font-weight:normal;
  margin: 0 0 0 0;
  padding-top:0.2em;
}

#nav ul {
  display:block;
  margin-top:2em;
  float:right;
  padding:0.5em 0;
  margin-left:0.5em;
  overflow:hidden;
}

#nav li {
  list-style:none;
  float:right;
  padding:0 0.5em;
  margin:0;
  border-left:0.2em solid #555;
  margin-left:-0.2em;

}

#nav a:hover {
  color:#fff;
}

#nav a{
  font-family:'PusabRegular';
  font-size:2em;
  display:block;
  float:right;
  color:#aaa;
  text-decoration:none;
}

#user_menu {
  background-color:#eee;
  -moz-border-radius:1em;
  -webkit-border-radius:1em;
  border-radius:1em;
  -moz-box-shadow:-0.1em 0 0.4em #252525;
  float:right;
}

#user_menu a {
  margin-right:0;
  margin-left:0em;
}

#user_menu a:hover {
  background-color:#eee;
  color:#000;
}

#admin_menu {
  overflow:hidden;
  background-color:#ae3535;
  -moz-border-radius:1em;
  -webkit-border-radius:1em;
  border-radius:1em;
  -moz-box-shadow:-0.1em 0 0.4em #252525;
}
