pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #ddd; }
a:visited { color: #666; }
a:hover { 
  text-shadow:0 0 1em #fff;
  color:#fff; 
}


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#main{
  padding:0;
  margin:0;
}

img {
  border:0;
}

#logo{
  font-size:2em;
  color:#ff0;
}

.comment {

  background-color:#FFE47A;
  margin-top:1em;
}

.comment_content {
  padding:0.5em;
}

.comment_nav{
  background-color:lightgrey;

  padding:0.2em 0.5em 0.2em 0.5em;
  float:right;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

.comment_user {
  float:left;
  padding:0.2em 0.5em 0.2em 0.5em;

  background-color:#ffce00;
  margin-right:1em;
}

.inner_box {
  background-color:#333;
  padding:0.5em;
  margin-bottom:1em;
  border:0.2em solid #666;
}

#content {
  padding:1em;
  background-color:#222;
}

#content h2 {
  margin:0;
  background-color:#666;
  margin-bottom:0.2em;
  border-bottom:0.1em solid #aaa;
  padding:0.2em;
}

#head{
  background-color:#ffff22; 
}

#nav{
  padding:0.5em;
  background-color:#333333;
  border-bottom: 0.2em solid #FFAA00;
}


#nav a:hover {
  background-color:#333;
  text-shadow: 0 0 1em #fff;
  color:#fff;
}

#head h1 { 
  margin:0;
  color:#888888;
  font-size:3em;
  text-align:right;
}


#nav a{
  display:block;
  float:right;
  color:#aaa;
  text-decoration:none;
  font-weight:bold;
  padding:0.5em;
  margin-right:1em;
}

#user_nav {
  float:right;
  border-left: 0.1em solid #aaa;
}
#user_nav a {
  margin-right:0;
  margin-left:1em;
}

.clear{
  clear:both;
}
body {
  background-color: #222;
  color: #eee;
  margin:0;
  font-size:1em;
  font-size:100%;
}

.sidebar {
  float:left;
  width:15em;
}

.sidebar input {
  width:13.4em;
  border 0.1em solid #222;
  font-size:1em;
}

.with_sidebar{
  margin-left:16em;
}

#home_posts {
  margin-right:16em;
}

/*BEGIN: Add Edit Destroy Tags*/
.action_tag{
  float:right;
  font-size:0.8em;
  color:#aaa;
  text-decoration:none;
  margin-left:0.2em;
}

.action_tag:visited {
  color:#aaa;
}

.add_tag:hover {
  text-shadow: 0 0 1em green;
}

.del_tag:hover {
  text-shadow: 0 0 1em red;
}

.edit_tag:hover {
  text-shadow: 0 0 1em yellow;
}
/*END: Add Edit Destroy Tags*/

.inner_content {
}
