-title("Edir Group")

=boxed "Group" do
  %li=link_to @lecture.name, edit_lecture_path(@lecture)
  %li=render :partial=>'form'

=boxed "Timer" ,:new=>"timers",:new_path=>new_lecture_group_timer_path(@lecture,@group) do
  %li
    %table
      %tr
        %th Text
        %th Date
        %th Link
        %th Actions
      -@group.timers.order(:deadline).each do |time|
        %tr
          %td
            =time.content
          %td
            =time.deadline
          %td
            =time.link    
          %td
            =edit_link(time,edit_lecture_group_timer_path(@lecture,@group,time))
            =destroy_link(time,lecture_group_timer_path(@lecture,@group,time))
