-title("Edir Group")

=boxed "Group" do
  %li
    =render :partial=>'form'

=boxed "Timer" do
  %li
    %table
      %tr
        %th Text
        %th Date
        %th Actions
      -@group.timers.each do |time|
        %tr
          %td
            =time.content
          %td
            =time.deadline
          %td
            =time.link    
          %td
            =edit_link(time,edit_lecture_group_timer_path(@lecture,@group,time))
