.box
  -unless title.blank?
    -new_path="" unless defined? new_path
    %h1
      =title 
      .new-resource
        =new_link(new,new_path) if defined? new 

  -if defined? body
    .body
      =body

  .footer
    =will_paginate paginate if defined? paginate
