.box
  -moz-border-radius: 1em
  -webkit-border-radius: 1em
  border-radius: 1em
  background-color: #333
  margin: 1em
  -moz-box-shadow: 0.1em 0.1em 0.4em #101010
  -webkit-box-shadow: 0.1em 0.1em 0.4em #101010
  h1
    font-family: 'PusabRegular'
    -moz-border-radius: 0.666em 0.666em 0 0
    -webkit-border-radius: 0.666em 0.666em 0 0
    border-radius: 0.666em 0.666em 0 0
    font-size: 1.5em
    font-weight: normal
    padding: 0.5em
    margin: 0
  .footer
    text-align: center
    min-height: 1em
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      padding: 0.2em
    li:nth-child(odd)
      background-color: #444444
      -moz-box-shadow: 0 0 0.4em #101010
    li:nth-child(even).private
      background-color: #553333
    li:nth-child(odd).private
      background-color: #664444
    li:nth-child(even).public
      background-color: #335533
    li:nth-child(odd).public
      background-color: #446644
