%li
  =form_for [@lecture,@link] do |f|
    =f.label :name
    %br
    =f.text_field :name
    %br
    =f.label :url
    %br
    =f.text_field :url
    %br
    =f.label :public
    %br
    =f.check_box :public
    %br
    =f.submit
