.article{:id=>"post"+post.id.to_s, :class=>"post"}
  -if defined? show_title
    %h2=link_to post.title, post_path(post) 

  .content= format_post(post.body)

  .item-menu
    %b.comment-count
      by 
      =post.user.name

    %b.comment-count{:id=>"comment-count"+ (post.id if defined?(show_title)).to_s }
      =pluralize post.comments.length, "Comment"

    .item-actions

    .clear()
