%li{:id=>"post"+post.id.to_s, :class=>"post"}
  -if defined? show_title
    %h1=post.title

  .content=format_post(post.body)

  .item-menu
    %b.comment-count
      by 
      =post.user.name

    %b.comment-count{:id=>"comment-count"+ (post.id if defined?(show_title)).to_s }
      =pluralize post.comments.length, "Comment"

    .item-actions
      =link_to("Show", post_path(post),:class=>"action_tag") unless current_page?(:id=>post.id,:action=>"show")
      =edit_link(post,edit_post_path(post))
      =destroy_link(post,post_path(post))

    .clear()
