-title("News")
-content_for :user_menu do
  -if permitted_to?(:create,:posts)
    .item=link_to "Add News", new_post_path

=boxed "News",:new=>"posts",:paginate=>@posts do
  =render :partial=>@posts,:locals=>{:show_title=>true}
