#login
  =form_for @user_session, :as=>:user_session , :url => user_session_path do |f|
    =f.label :email
    %br
    =f.text_field :email
    %br
    =f.label :password
    (
    =link_to( "forgotten", new_password_reset_path)
    )
    %br
    =f.password_field :password
    %br
    =f.submit "Login"

