#login
  =form_for @user_session, :as=>:user_session , :url => user_session_path do |f|
    =f.text_field :email, :placeholder=>"E-Mail"
    %br
    %br
    =f.password_field :password, :placeholder=>"Password"
    %br
    =f.submit "Login"
    (
    =link_to( "forgotten", new_password_reset_path)
    )

