.center
  =render(:partial=>"layouts/sidebar")
  .with_sidebar
    -unless flash[:notice].nil?
      #status
        =boxed "Status" do
          =auto_link notice
          :javascript
            setTimeout("new Effect.DropOut('status');", 7000);
    =yield 
  =clear
