#footer
  .center

    #sites  
      -Static.order('priority DESC').each do |site|
        =link_to(site.title,static_path(site)) if permitted_to?(:show,site)
      =link_to("List of Moderators",mods_path)if permitted_to?(:index_mods,:users) 

    #links
      -StaticLink.order('priority DESC').each do |link|
        =link_to(link.name,link.url) if permitted_to?(:show,link)
