#nav
  .center
    %h5 Eddy2
    
    %ul
      -if permitted_to?(:read,:lectures)
        %li=link_to_unless_current("Lectures",lectures_path) 
      -if permitted_to?(:read,:posts)
        %li=link_to_unless_current("News",posts_path)
      -if permitted_to?(:manage,:users)
        %li=link_to("Users",users_path) if permitted_to?(:manage,:users)

    .clear
