%aside.sidebar
  -unless current_user
    =boxed "Login" do
      =render :partial=>"user_sessions/form"

  -if current_user
    =render :partial=>"mylinks/index"

    -unless @s_timers.empty?
      =boxed "Timer" do
        -@s_timers.each do |timer|
          %li
            =distance_of_time_in_words(Time.now,timer.deadline)
            to:
            =timer.link ? link_to(timer.content,timer.link) : timer.content

  -unless @s_downloads.empty?
    =boxed "Hot Files" do
      -@s_downloads.each do |dl|
        %li{:class=> permitted_to?(:download,dl) ? "public" : "private"}
          =link_to dl.name,lecture_download_path(dl.lecture,dl)
          =distance_of_time_in_words(Time.now,dl.updated_at)

  -unless @s_announcements.empty?
    =boxed "Hot Threads" do
      -@s_announcements.each do |a|
        %li
          =link_to a.title,lecture_announcement_path(a.lecture,a)
          =distance_of_time_in_words(Time.now,a.updated_at)+" ago"
