!!! html5
%html
  %head
    %title="Eddy2 - " + yield_for(:title,'Untitled')
    
    -#Favicon
    = favicon_link_tag("favicon.png")
    -#Mathjax
    %script{:type=>"text/javascript",
            :src=>"http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"} 
    -#local Javascript
    =javascript_include_tag 'application'
    -#local Stylesheets
    =stylesheet_link_tag  'application'
    -#RSS Feeds
    =auto_discovery_link_tag(:rss,{:controller=>:posts,:action=>:index,:format=>:rss})
    -#XSS Protection
    =csrf_meta_tag 

  %body
    =render :partial=>'layouts/navbar'
    =render :partial=>'layouts/content'
    =render :partial=>'layouts/footer'
