!!! html5
%html
  %head
    %title="Eddy2 - " + yield_for(:title,'Untitled')
    
    -#Favicon
    = favicon_link_tag("favicon.png")
    -#Prototype
    %script{:type=>"text/javascript",
            :src=>"http://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"}
    -#Mathjax
    %script{:type=>"text/javascript",
            :src=>"http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"} 
    -#local Javascript
    =javascript_include_tag :all,:cache=>true
    -#local Stylesheets
    =stylesheet_link_tag  'compiled/fonts',
                          'compiled/position',
                          'compiled/nav',
                          'compiled/footer',
                          'compiled/box',
                          :cache=>true 
    -#RSS Feeds
    =auto_discovery_link_tag(:rss,{:controller=>:posts,:action=>:index,:format=>:rss})
    -#XSS Protection
    =csrf_meta_tag 

  %body
    =render :partial=>'layouts/navbar'
    =render :partial=>'layouts/content'
    =render :partial=>'layouts/footer'
